<h1>會員登入</h1>

<%= form_for(@user, url: '/sign_in/check') do |form| %>

  <div class="fields">
    <%= form.label :email, '信箱' %>
    <%= form.email_field :email %>
  </div>

  <div class="fields">
    <%= form.label :password, '密碼' %>
    <%= form.password_field :password %><br/>
  </div>

  <div class="actions">
    <%= form.submit '登入'%>
  </div>

<% end %>