<h1>購買課程</h1>

<%= form_for(@order, url: course_orders_path(@course)) do |form| %>

  <div data-controller="payment" data-payment-token-value="<%= @token %>">
    <div data-payment-target="dropin"></div>
    <input type="hidden" name="nonce" data-payment-target="nonce" />
  </div>

  <div class="field">
    <%= form.label :recipient, '收件人' %>
    <%= form.text_field :recipient %>
  </div>
  <div class="field">
    <%= form.label :address, '地址' %>
    <%= form.text_field :address %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>